.content {
    display: flex;
    flex-direction: row;
}

.content .sidebarContent {
    flex: 25%;
}

.content .mainContent {
    flex: 75%;
    padding: 3rem;
    padding-left: 3rem;
    padding-right: 4rem;
    margin-left: 0;
}