.navbar {
    width: 100%;
    height: 2rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
}

.navbar .User {
    font-size: 1.5rem;
}

.navbar .User .icon {
    transform: translateY(5px);
}

@media only screen and (max-width: 767px) {
    .navbar {
        height: 3rem;
    }

    .navbar .User span {
        display: none;
    }

    .navbar .User .icon {
        display: block;
    }
}