.table {
    width: 100%;
    margin-top: 2rem;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
}

th,
td {
    padding: 0.5rem;
    border: none;
    width: 25%;
    text-align: center;
}

td {
    font-size: 1.2rem;
    margin-top: 3rem;
    height: 3rem;
    font-weight: bold;
}

th {
    background-color: #E5F3FF;
    font-weight: bold;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr {
    background-color: #fff;
    height: 3rem;
    margin-top: 2rem;
    padding: 2rem;
    border-top: 2rem solid #F5F6FA;
    align-items: center;
    justify-content: center;
}

tr:hover {
    background-color: #fff;
}

.link a {
    text-decoration: none;
    color: #2F7EC7;
    font-weight: 300;
}

.deleteButton span {
    transform: translateY(2px);
    position: absolute;
}

.downicon {
    transform: translateY(-15px);
    color: #959595;
    transition: transform 0.3s;
}


@media only screen and (max-width: 767px) {

    th,
    td {
        width: auto;
        font-size: 1rem;
        padding: 0.3rem;
    }

    td {
        margin-top: 1rem;
    }

    th {
        font-size: 1.2rem;
    }

    tr {
        margin-top: 1rem;
        padding: 1rem;
        border-top-width: 1rem;
    }
}