.dropBox {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    margin-top: 5rem;
    border-radius: 8px;
}

.uploadHide {
    width: 81%;
    height: 60vh;
    z-index: -1;
    position: absolute;
    font-size: 1.5rem;
    color: #8a8a8a;
}

input::file-selector-button {
    display: none;
}

.uploadLabel {
    /* position: absolute; */
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    border: 2px dashed #8a8a8a;
}


.chooseFiles {
    width: 18%;
    height: 10%;
    background-color: #EAEAEA;
    border: 2px solid #6D6D6D;
    color: #6D6D6D;
    border-radius: 5px;
    font-size: 1.4rem;
    margin-top: 1rem;
    cursor: pointer;
}

.dragText {
    font-size: 1.4rem;
    font-weight: bold;
}